# Ambiente: development | test | production
NODE_ENV=development
# Puerto donde escucha la API (default 8080 si no se define)
PORT=8080
# Nivel de logs ('debug' en test, 'info' en producción)
LOG_LEVEL=debug
# Conexión a MongoDB Atlas
MONGO_USER=
MONGO_PASS=
MONGO_CLUSTER=
MONGO_DB_NAME=
MONGO_SHARD=
MONGO_ATLAS_SHARD=